* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #f4f4f4; /* Latar belakang abu-abu muda */
    color: #333;
    font-size: 14px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #175586;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.header-left {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: #f5f5f5; 
}

.logo {
    margin-right: 10px;
    border-radius: 5px;
}
.footer {
    padding: 10px 20px;
    text-align: center;
    font-size: 12px;
    color: #666;
    background-color: #f0f0f0;
    border-top: 1px solid #ddd;
}